body 
	


#banner {
	width: 100px;
}

.principal{
	background: rgba(255, 0, 0, 0.733)
	padding 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: rgb(255, 255, 255)5, 0, 0, 0.199;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #000000;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 60%;
}